
window {
    transparency: "real";
    background-color: #000000;
    opacity: 0.8;
}
* {
    background:     #07122E;
    background-alt: #002B62;
    foreground:     #C0CAF5FF;
    selected:       #33467CFF;
    active:         #414868FF;
    urgent:         #F7768EFF;
}
